.fpp-global-defs {
  background: var(--code-background);
}

.line-number {
  float: right !important;
  font-size: 80%;
}

/* the code boxes appear inside a .pl-faded-parsons.row */

.pl-faded-parsons {
  padding: 10px;
}

.soft-border {
  border: 2px solid grey;
  border-radius: 5px;
}

/* #starter-code is the given lines, #parsons-solution is where student constructs solution */

#starter-code,
#parsons-solution {
  width: 50%;
}

/* all code boxes are classed with .codeline-tray and the lines appear as <li> in a <ul> */

.codeline-tray {
  padding: 0 0.5em;
  position: static;
  float: left;
}
.codeline-tray ul {
  font-size: smaller;
  font-family: monospace;
  list-style: none;
  padding-bottom: 60px;
  padding-left: 0;
  margin-left: 0;
}
.codeline-tray ul:empty {
  padding-bottom: 80px;
}
.codeline-tray li,
.codeline-tray li:before,
.codeline-tray li:after {
  box-sizing: content-box;
}
.codeline-tray li:hover {
  border-color: #209f20;
}
.codeline-tray li.codeline-highlight {
  border: 2px solid #209f20;
  border-radius: 15px;
}
.codeline-tray li.codeline-in-motion {
  border: 4px solid #9f7f20 !important;
  margin: 15px;
}
.codeline-tray li {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* !important needed to override safe default from prettify stylesheet */
  border-right: 2px solid var(--pln-txt-color);
  border-left: 2px solid var(--pln-txt-color);
  padding: 2px;
  /* Keep difference of 10 to respect padding specified just above */
  padding-left: 3ch;
  text-indent: -2ch;
  margin-top: 5px; /* 0.6ch */
  overflow: hidden;
  cursor: move;
}
.codeline-tray li span::before {
  content: "\200b";
}
.codeline-tray li:hover {
  overflow: visible;
}

/** For input within parsons blocks */
.parsons-blank {
  border-width: 0px;
  border-bottom: solid 1px var(--pln-txt-color);
  width: 3em;
  min-width: 2em;
  padding: 5px;
  font-family: monospace;
  background-color: rgba(var(--pln-txt-color), 70);
  color: var(--pln-txt-color);
}

.parsons-blank:focus {
  outline: 0;
}

code {
  font-size: 100%;
}

.toolbar {
  margin: -10px;
  margin-top: 2px;
  background: #e0e0e030;
  font-size: 90%;
  align-items: flex-end;
  flex-direction: row-reverse;
}
