<li class="ui-sortable codeline" role="listitem" style="--pl-faded-parsons-indent: {{indent}};" tabindex="-1" aria-grabbed="false" aria-dropeffect="move">{{#segments}}{{#code}}<code class="prettyprint lang-{{language}}">{{content}}</code>{{/code}}{{#blank}}<input type="text" style="width: {{width}}ch;" class="parsons-blank" tabindex="-1" value="{{default}}" .="">{{/blank}}{{/segments}}</li>
