<li class="ui-sortable codeline{{#has_missing_blank}} codeline-has-missing-blank{{/has_missing_blank}}" role="listitem" style="--pl-faded-parsons-indent: {{indent}};" tabindex="-1" aria-grabbed="false" aria-dropeffect="move">{{#segments}}{{#code}}<code class="prettyprint lang-{{language}}">{{content}}</code>{{/code}}{{#blank}}<input type="text" style="width: {{width}}ch;" class="parsons-blank{{#missing}} parsons-blank-missing{{/missing}}" value="{{default}}"{{#missing}} aria-invalid="true"{{/missing}} .="">{{/blank}}{{/segments}}</li>
