<li
  class="ui-sortable codeline{{#pinned}} pinned{{/pinned}}"
  role="listitem"
  style="--pl-faded-parsons-indent: {{indent}};"
  tabindex="-1"
  aria-grabbed="false"
  aria-dropeffect="{{#pinned}}none{{/pinned}}{{^pinned}}move{{/pinned}}"
>{{! use comments to add newlines or else the actual emitted code contains newlines...
  }}{{#segments}}{{!
    }}{{#code}}{{!
      }}<code class="prettyprint lang-{{language}}">{{content}}</code>{{!
    }}{{/code}}{{!
    }}{{#blank}}{{!
      }}<input
          type="text"
          style="width: {{width}}ch;"
          class="parsons-blank"
          tabindex="-1"
          value="{{value}}"
          placeholder="{{placeholder}}"
          .=""
          >{{!
    }}{{/blank}}{{!
  }}{{/segments}}{{!
}}</li>
