<!-- TEST-HOOK:SUBMISSION: this tag belongs where submissions are rendered -->
<pl-code language="python">
{{code}}
</pl-code>

{{#incomplete_blank_message}}
<!-- TEST-HOOK:INCOMPLETE-BLANKS: this tag belongs where incomplete-blank feedback is rendered -->
<div class="alert alert-danger" role="alert">
  {{incomplete_blank_message}}
</div>
{{/incomplete_blank_message}}

{{#has_feedback}}
<!-- TEST-HOOK:FEEDBACK: this tag belongs where the feedback is rendered -->
<div>
  <pl-external-grader-results></pl-external-grader-results>
</div>
{{/has_feedback}}
